<div fxLayout="column">
    <div fxLayout="row">
        <div fxLayout="column" fxFlex="100">
            <mat-form-field [appearance]="estiloCelda">
                <mat-label>Usuario</mat-label>
                <input matInput type="text" (focusout)="usuarioPulsado($event)" [ngClass]="colorTexto" [ngModel]="usuario" [matTooltip]="usuarioToolTip" matTooltipPosition="above" [matTooltipClass]="usuarioToolTipClass" tabindex="tabOrder + 2">
            </mat-form-field>
        </div>
    </div>
</div>